streamlit==1.31.0
yt_dlp==2023.12.30
pytube==15.0.0
openai==1.12.0
imageio==2.33.1
opencv-python-headless==4.9.0.80
moviepy==1.0.3
youtube_transcript_api==0.6.2
tenacity==8.2.3
tiktoken==0.6.0
langchain==0.1.8
anthropic==0.19.2
pdfkit==1.0.0